@page
@model AssemblyCookieRecipe.WebApp.Pages.Users.GetAllModel
@{
}

<form method="post">
    <label class="h2">Insert new user</label>
    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="name" placeholder="Name">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="isadmin">
        <label class="form-check-label" for="exampleCheck1">Is admin</label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="isblocked">
        <label class="form-check-label" for="exampleCheck1">Is Blocked</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
<br>
<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Is Admin</th>
            <th scope="col">Is Blocked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Password</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.IsAdmin</td>
                <td>@user.IsBlocked</td>
            </tr>
        }
    </tbody>
</table>